# ignore files/paths listed in the order that autoconf et al creates them...
autom4te.cache/
aclocal.m4

ltmain.sh

ar-lib
compile
config.guess
config.sub
install-sh
missing

depcomp
Makefile.in

configure

.deps/
config.status
Makefile
remglk.pc
libtool
config.log

*.o
*.a
